[Desktop Entry]
Icon=image-png
Name=magic_hamburger.png
Type=Link
URL[$e]=file:$HOME/Downloads/magic_hamburger.png
X-KDE-LastOpenedWith=org.kde.kdenlive
